:root {
  --foxy: #d45404;
  --lighter: #f07a00;
  --grey: #151515;
  --black: #0c0c0c;
}

.caveat-400 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat-700 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 16px;
  background-color: var(--black);
  color: white;
}

ul {
  list-style: none;
  margin-left: -20px;
}

h1 {
  color: var(--foxy);
}

a:hover {
  cursor: pointer;
  transition: 0.2s all;
  color: var(--lighter);
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navigation__list > li > a:hover {
  cursor: pointer;
  transition: 0.2s all;
  color: var(--grey);
}

.navigation_top {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  background-color: var(--foxy);
  width: 160px;
  border-bottom-left-radius: 24px;
  padding: 8px 14px 8px 8px;
  box-sizing: border-box;
  line-height: 24px;
}

.nav__mobile {
  display: none;
}

.nav_controls {
  display: none;
}

.art_tail {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
  position: absolute;
  bottom: -24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media screen and (max-width:600px) {
  .art_tail {
    display: none;
  }
  .navigation_top { 
    width: 80%;
    height: 28px;
    overflow: hidden;
    border-left: 12px solid white;
    background-color: var(--foxy);
  }
  .nav_controls {
    display: block;
    text-align: right;
    margin-top: -8px;
    font-weight: bold;
  }
  .navigation__mobile {
    position: absolute;
    z-index: 2;
    height: 90%;
    width: 90%;
    background-color: var(--foxy);
    border-radius: 8px;
    font: 24px/42px bold;
  }
}

.main {
  max-width: calc(100% - 160px);
}

.navigation__list > li > a {
  width: 100%;
  display: block;
}

@media screen and (max-width:600px) { 
  .main {
    max-width: calc(100% - 24px);
  }
}

.avatar {
  border-radius: 100%;
  width: 124px;
  height: 124px;
  background: url("https://t4.ftcdn.net/jpg/01/25/64/53/360_F_125645329_Pc6Rn1soUuAZyHgp4DYxXKUXITSFCc1R.jpg") center center/cover no-repeat;
}

.avatar.fox {
  display: block;
  margin: 48px auto 24px;
}

.caption {
  margin: 16px 0;
  font-size: 22px;
}

.contacts-all {
  margin-top: 32px;
}

.contact-item {
  text-align: center;
  font-weight: bold;
  display: block;
  margin: auto;
  color: var(--foxy);
  margin: 12px;
}

.about_wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.lead-in {
  text-align: center;
  margin: 24px 0;
  font-size: 24px;
  line-height: 36px;
  color: var(--lighter);
}

.articles_list {
  list-style: none;
  margin-left: -20px;
  text-align: center;
  line-height: 32px;
}

.locked-article:hover {
  cursor: pointer;
  color: var(--lighter);
  transition: 0.2s all;
}

.popup_wrapper {
  position: absolute;
  z-index: 10;
  width: 90%;
  padding: 24px;
  border-radius: 18px;
  background-color: var(--grey);
  text-align: center;
}

.payment_label {
  margin-right: 12px;
  cursor: pointer;
}

.payment_button {
  display: block;
  margin: 24px auto 12px;
  padding: 12px;
  outline: none;
  border: none;
  background-color: var(--foxy);
  color: white;
  border-radius: 4px;
}

.payment_button:hover {
  cursor: pointer;
  background-color: var(--lighter);
  transition: 0.2s background-color;
}

.parlour-showcase {
  display: flex;
  flex-wrap: wrap;
}

.parlour-item {
  max-width: 300px;
  margin: 0 48px 48px 0;
}

.parlour-item > h6 {
  font-size: 14px;
}

.parlour-item > img {
  border-radius: 4px;
  max-width: 240px;
  display: block;
  margin: auto;
}
