:root {
  --foxy: #d45404;
  --lighter: #f07a00;
  --grey: #151515;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 16px;
  background-color: black;
  color: white;
}

ul {
  list-style: none;
  margin-left: -20px;
}

h1 {
  color: var(--foxy);
}

a:hover {
  cursor: pointer;
  transition: 0.2s all;
  color: var(--lighter);
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navigation__list > li > a:hover {
  cursor: pointer;
  transition: 0.2s all;
  color: var(--grey);
}

.navigation_top {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  background-color: var(--foxy);
  width: 160px;
  border-bottom-left-radius: 24px;
  padding: 8px 14px 8px 8px;
  box-sizing: border-box;
  line-height: 24px;
}

.nav__mobile {
  display: none;
}

.nav_controls {
  display: none;
}

.art_tail {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
  position: absolute;
  bottom: -24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media screen and (max-width:600px) {
  .art_tail {
    display: none;
  }
  .navigation_top { 
    width: 80%;
    height: 28px;
    overflow: hidden;
    border-left: 12px solid white;
    background-color: var(--foxy);
  }
  .nav_controls {
    display: block;
    text-align: right;
    margin-top: -8px;
    font-weight: bold;
  }
  .navigation__mobile {
    position: absolute;
    z-index: 2;
    height: 90%;
    width: 90%;
    background-color: var(--foxy);
    border-radius: 8px;
    font: 24px/42px bold;
  }
}

.main {
  max-width: calc(100% - 160px);
}

.navigation__list > li > a {
  width: 100%;
  display: block;
}

@media screen and (max-width:600px) { 
  .main {
    max-width: calc(100% - 24px);
  }
}

.avatar {
  border-radius: 100%;
  width: 124px;
  height: 124px;
  background: url("https://t4.ftcdn.net/jpg/01/25/64/53/360_F_125645329_Pc6Rn1soUuAZyHgp4DYxXKUXITSFCc1R.jpg") center center/cover no-repeat;
}

.avatar.fox {
display: block;
margin: 48px auto 24px;
}

h2 {
  text-align: center;
  margin: 24px 0;
}

.caption {
  margin: 16px 0;
}

.contacts-all {
  margin-top: 32px;
}

.contact-item {
  text-align: center;
  font-weight: bold;
  display: block;
  margin: auto;
  color: var(--foxy);
  margin: 12px;
}

.about_wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 48px;
}
